<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <!-- <JSONLayout compact="true" eventEol="true"/> -->
        </Console>        
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
        <Logger name="com.netflix.conductor" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>