@font-face {
  font-family: "Inter", sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap";
}

.bg-primary {
  background: #242A36 !important;
}

.navbar-brand {
  background-image: url(/img/logo_dark_background.png);
  background-size: cover;
  color: transparent !important;
  padding: 0;
  width: 140px;
}